In [16]:
import pandas as pd

In [8]:
x = 1 + 0.08
y = x**4
z1 = y*0.08
z1

z2 = y -1
z2

print(z1/z2)
pmt = 185000*(z1/z2)
print(pmt)

0.3019208044540391
55855.348823997236

#### Exemplo 1 de revisão:

In [17]:
#Dados iniciais do problema
pv = 60000
n = 4
i = 6/100

#Calculo de juros
juros = pv*i
print(f'Juros = {int(juros)} reais ')

#Future Value
fv = pv*(1+i)**n
print(f'Valor final = {fv:.2f} reais')

Juros = 3600 reais
Valor final = 75748.62 reais

In [18]:
 p = juros + fv
colunas = {
    'Ano': [0,1,2,3,4],
    'Juros': [0, juros, juros, juros, juros],
    'Amortização': [0, 0, 0, 0, fv],
    'Prestação': [0, juros, juros, juros, p],
    'Saldo devedor':[pv, pv, pv, pv,0]}

tabela_americana = pd.DataFrame(colunas)

print(f'Juros = {juros} reais ')
print(f'Valor final = {fv:.2f} reais')

display(tabela_americana)

Juros = 3600.0 reais
Valor final = 75748.62 reais

   Ano   Juros  Amortização   Prestação  Saldo devedor
0    0     0.0       0.0000      0.0000          60000
1    1  3600.0       0.0000   3600.0000          60000
2    2  3600.0       0.0000   3600.0000          60000
3    3  3600.0       0.0000   3600.0000          60000
4    4  3600.0   75748.6176  79348.6176              0

In [19]:
soma_juros = tabela_americana['Juros'].sum()
soma_amortizacao = tabela_americana['Amortização'].sum()
soma_prestacao = tabela_americana['Prestação'].sum()

soma = {'Ano': 'SOMA =  ', 
     'Juros': soma_juros,
     'Amortização': soma_amortizacao,
     'Prestação': soma_prestacao
     }

tabela_americana = tabela_americana.append(soma, ignore_index=True)


tabela_americana = tabela_americana.style.hide_index()
display(tabela_americana)

In [20]:
# Sistema frances Formulas

pv = 60000
n = 4
i = 6/100

s = i+1

x = ( i*(s**n) ) / ((s**n) - 1)

pmt = x*pv

print(pmt)

17315.48954239639